catkin_pkg==1.1.0
cv_bridge==1.13.0.post0
edgeml==0.2.1
funcsigs==1.0.2
gym==0.26.2
h5py==3.11.0
matplotlib==3.10.8
modern_robotics==1.1.1
moviepy==2.2.1
numba==0.60.0
numpy==2.3.5
opencv_contrib_python==4.11.0.86
opencv_python==4.12.0.88
pandas==2.3.3
Pillow==12.0.0
pyquaternion==0.9.9
pyserial==3.5
PyYAML==6.0.1
PyYAML==6.0.3
scikit_learn==1.8.0
scipy==1.16.3
setuptools==75.1.0
six==1.16.0
skimage==0.0
tf==1.1.0
tqdm==4.66.5
transformations==2025.8.1
